<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631138859123-m4j37sma20ifkci136i4u91doajt1kd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631138859123-m4j37sma20ifkci136i4u91doajt1kd4</string>
	<key>API_KEY</key>
	<string>AIzaSyDJxu8zJGuUk9HyyJcKazAu95nI5dRCS78</string>
	<key>GCM_SENDER_ID</key>
	<string>631138859123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.zhangxijing.Taskhub</string>
	<key>PROJECT_ID</key>
	<string>swiftuitaskhub-307f1</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitaskhub-307f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631138859123:ios:2baa4280eaf4cc1a97d206</string>
</dict>
</plist>