<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1079807279271-so967m9itro31l3r19dhc77heis0jtt9</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1079807279271-so967m9itro31l3r19dhc77heis0jtt9.apps.googleusercontent.com</string>
</dict>
</plist>
